<h2>Shelter Page for Admin</h2>

<h4>Shelter Name:</h4>
<p><%= @shelter.name %></p>
<h4>Address:</h4>
<p><%= @shelter.address %></p>
<h4>City:</h4>
<p><%= @shelter.city %></p>
<h4>State:</h4>
<p><%= @shelter.state %></p>
<h4>Zipcode:</h4>
<p><%= @shelter.zip %></p>
